.container-modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px) brightness(50%);
}
.github-modal {
  background-blend-mode: darken;
  z-index: 9999;
  width: auto;
  padding: 0.5rem;
  height: 500px;
  text-align: center;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
}
.github-modal > img {
  width: 100px;
}

.github-modal a:hover {
  color: #2a5081b4;
}
.github-modal button {
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 8px 11px;
  background: rgb(226, 226, 226);
  color: rgb(15, 15, 15);
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
}

.github-modal button img {
  display: flex;
  justify-content: center;
  align-content: center;
}
@keyframes animate {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
a {
  text-decoration: none;
  color: black;
  text-align: center;
}

a:visited {
  text-decoration: none;
  color: black;
}
