.question-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.imageDiv {
  display: flex;
  padding: 10px;
  height: 150px;
  width: 150px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
}

.gameTitleDiv {
  width: auto;
  text-align: center;
}

.gameTitleDiv img {
  width: 200px;
}

.imageDiv > img {
  filter: grayscale(10%);
  scale: 0.9;
  animation: imageAnimation 10s ease-in-out infinite;
}

@keyframes imageAnimation {
  0% {
    scale: 1;
    rotate: 2deg;
  }
  25% {
    rotate: -2deg;
  }
  50% {
    scale: 1.05;
    rotate: 2deg;
  }
  75% {
    rotate: -2deg;
  }
  100% {
    scale: 1;
    rotate: 2deg;
  }
}

.currentQuestion {
  font-family: Helvetica;
}

.questionAndProgress {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 900px;
  height: auto;
  background: #2a5081b4;
  border-radius: 5px;
}

.topperContainer {
  display: flex;
  align-items: center;
  gap: 4rem;
  justify-content: center;
  width: 100%;
}

.topicContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topicRowContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.leftSideTopic {
  display: flex;
  background-color: rgba(69, 30, 105, 0.699);
  width: 250px;
  height: 30px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px 0px 0px 0px;
}
.rightSideTopic {
  display: flex;
  background-color: rgba(69, 30, 105, 0.699);
  width: 250px;
  height: 30px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0px 5px 0px 0px;
  text-transform: capitalize;
}

.topic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  min-height: 50px;
  background-color: #3847a5;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  color: white;
}

.topic > h2 {
  font-size: 18px;
  letter-spacing: 2px;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 790px;
  min-height: 50px;
  background-color: #023e8b;
  border-radius: 5px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
}

.cancelBtn {
  display: flex;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: none;
  gap: 30px;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  color: rgb(16, 9, 86);
  border-radius: 8px;
  width: 100px;
  padding: 10px;
  box-shadow: 5px 5px 0px 0px;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1rem;
}

.cancelBtn:hover {
  cursor: pointer;
  scale: 1.03;
}

.answersdiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
  color: white;
}

.answerBtn {
  padding: 0.5rem;
  line-height: 1.2rem;
  width: 400px;
  min-height: 120px;
  font-size: 16px;
  background-color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 5px 5px 0px 0px;
  color: black !important;
}

.correctGreen {
  padding: 0.5rem;
  line-height: 1.2rem;
  width: 400px;
  height: 80px;
  background-color: rgb(95, 188, 114);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 0px 0px;
}

.answerBtn:active {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 0px 0px;
}

@media only screen and (max-width: 800px) {
  .question-wrapper {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-questions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .topperContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }

  .topperContainer img {
    width: 250px;
  }

  .topicRowContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: auto;
  }

  .topic {
    width: 170px;
    height: auto;
  }

  .topic h2 {
    font-size: 1rem;
  }

  .leftSideTopic {
    width: auto;
    padding: 0.2rem;
    width: 90px;
  }

  .rightSideTopic {
    width: 90px;
    padding: 0.2rem;
  }

  .answersdiv {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 1rem;
    color: white;
    width: auto;
  }

  .question {
    width: 340px;
    height: auto;
  }

  .answerBtn {
    width: 345px;
    height: auto;
    min-height: auto;
    color: black !important;
  }

  .cancel {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .imageDiv {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .resultsContainer {
    width: 98vw;
  }
}
